version: "3.8"

services:
  mongo:
    image: mongo:6
    restart: always
    volumes:
      - mongo-data:/data/db
    networks:
      - appnet

  backend:
    build: ./backend
    image: crud-backend:local
    environment:
      - MONGO_URI=mongodb://mongo:27017/dd_db
      - PORT=8080
    depends_on:
      - mongo
    networks:
      - appnet
    # (optional) expose to host for debugging (can remove later)
    ports:
      - "8080:8080"

  frontend:
    build: ./frontend
    image: crud-frontend:local
    depends_on:
      - backend
    networks:
      - appnet
    # frontend serves static files on container:80 (nginx inside)
    # no host port mapping required because top-level nginx will serve on 80

  nginx:
    image: nginx:stable-alpine
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      - "80:80"
    depends_on:
      - frontend
      - backend
      - mongo
    networks:
      - appnet

volumes:
  mongo-data:

networks:
  appnet:
