# docker-compose.prod.yml
services:
  mongo:
    image: mongo:6
    restart: always
    volumes:
      - mongo-data:/data/db
    networks:
      - appnet

  backend:
    image: ansh2708/crud-backend:latest
    environment:
      - MONGO_URI=mongodb://mongo:27017/dd_db
      - PORT=8080
    depends_on:
      - mongo
    networks:
      - appnet

  frontend:
    image: ansh2708/crud-frontend:latest
    depends_on:
      - backend
    networks:
      - appnet

  nginx:
    image: nginx:stable-alpine
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      - "80:80"
    depends_on:
      - frontend
      - backend
    networks:
      - appnet

volumes:
  mongo-data:

networks:
  appnet:
